#detail-modal {
    overflow-x:hidden; 
    h2 {
        font-size: 3rem;
        font-family: 'Audiowide', cursive;
        font-weight: lighter;
        color:  rgb(219, 5, 5);
        margin-top: 3rem;
        margin-bottom: 1rem;
        letter-spacing: 2px;   
    }
    .star-rating { 
        color:rgba(247, 31, 3, 0.932);
        margin-bottom: 1rem; 
    }
    h4 {
        margin-top: .25rem;
        margin-bottom: .5rem;
    }
    p {
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .description-gallery { 
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        flex-wrap: wrap;
            img { 
                height: 50%;
                width:40%;
                margin:1rem;
                border-radius: 3px;
            } 
    }
}

