#detail-modal {
  overflow-x: hidden;
  .close-modal {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  #close-icon {
    color: $primaryColor;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.08rem;
    &:hover {
      background: $secondaryColor;
      color: white;
      border-radius: 13px;
    }
  }
  h2 {
    font-size: 2.5rem;
    font-family: "Audiowide", cursive;
    font-weight: lighter;
    color: $secondaryColor;
    margin-top: 3rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
  }
  .star-rating {
    color: rgba(247, 31, 3, 0.932);
    margin-bottom: 1rem;
  }
  h4 {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .description-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;
    img {
      height: 70%;
      width: 70%;
      margin: 1rem;
      border-radius: 3px;
    }

    @media (max-width: 816px) {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
