@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  width: 100%;
  background-color: 	#252425;
   
}

h2{
  font-size: 4rem;
  font-family: 'Audiowide', cursive;
  font-weight: lighter;
  color:  rgb(252, 4, 4);
  margin-top: 3rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}
h3{
  font-size: 1.3rem;
  color: #333;
  padding: 1.5rem 0rem;
}
p{
  color: rgb(231, 3, 3);
}
/* a{
  text-decoration: none;
  color: #333;
} */
img{
  display: block;
}
#search-bar {
  /* background-color: #ffadad;
  color: #333; */
  background-color:#000;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.3rem;
  width: 50vw;
  margin-top: 3rem;
  height: 2.5rem; 
  border-radius: 8px;
}



/* .home-page-titles { 
  color: rgb(231, 3, 3);
  font-weight: bold;
  margin-top: 4rem;
} */

button {
  position: relative; 
  height: 3rem;
  margin-top: 3rem;
}

.description-gallery {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  flex-wrap: wrap; 
}

.description-gallery-images { 
  height: 50%;
  width:40%;
  margin:1rem;
  border-radius: 3px;
}

/* #transition-modal-description { 
  color: rgb(17, 16, 16);
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight:500;
} */

/* .platforms { 
  margin-top: .3rem;
  
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(245, 20, 20);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(241, 85, 85);
  border-radius: 5px;
}