@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&display=swap");

$primaryColor: rgb(244, 67, 54);
$secondaryColor: rgb(219, 5, 5);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Audiowide", cursive;
  width: 100%;
  background: #252425;
}

.pacman-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.game-logo {
  color: $primaryColor;
  margin: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  span {
    font-size: 4rem;
    padding: 1.5rem;
  }
}

#home-page-titles {
  font-size: 4rem;
  font-family: "Audiowide", cursive;
  font-weight: lighter;
  color: $primaryColor;
  margin-top: 5rem;
  margin-bottom: 1.7rem;
  letter-spacing: 2px;
}

#card-title {
  color: $secondaryColor;
  font-family: "Audiowide", cursive;
  letter-spacing: 1.5px;
}

#card-release-date {
  color: #333;
  font-size: 1.2rem;
}
#card {
  transition: transform 0.5s;
  image {
    object-fit: cover;
  }
  &:hover {
    transform: scale(0.98);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primaryColor;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(238, 94, 94);
  border-radius: 5px;
}
@media (max-width: 669px) {
  #home-page-titles {
    font-size: 3.5rem;
  }
}
@media (max-width: 579px) {
  .game-logo {
    span {
      font-size: 3.14rem;
    }
  }
  #home-page-titles {
    font-size: 3rem;
  }
}
@media (max-width: 505px) {
  .game-logo {
    span {
      font-size: 3rem;
    }
  }
  #home-page-titles {
    font-size: 2.8rem;
  }
  #card {
    width: 95vw;
  }
}
@media (max-width: 477px) {
  .game-logo {
    span {
      font-size: 2.5rem;
    }
  }
  #home-page-titles {
    font-size: 2.2rem;
  }
  #card-media {
    width: 100%;
  }
}
@media (max-width: 427px) {
  .game-logo {
    span {
      font-size: 2.02rem;
    }
  }
  #home-page-titles {
    font-size: 2.03rem;
  }
}
@media (max-width: 385px) {
  .game-logo {
    #gamepad-logo {
      font: 10rem;
    }
    span {
      font-size: 1.9rem;
    }
  }
  #home-page-titles {
    font-size: 1.8rem;
  }
}
@media (max-width: 367px) {
  .game-logo {
    span {
      font-size: 1.47rem;
    }
  }
}
@import "./search-bar";
@import "./detail-modal";
