@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
}

body{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background-color: 	#F5F5F5;
  
  
}
h2{
  font-size: 3rem;
  font-family: 'Open Sans', cursive;
  font-weight: lighter;
  color: #333;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #f26722;
}
h3{
  font-size: 1.3rem;
  color: #333;
  padding: 1.5rem 0rem;
}
p{
  color: #f26722;
}
a{
  text-decoration: none;
  color: #333;
}
img{
  display: block;
}
#search-bar {
  background-color: #ffe2d3;
  color: #333;
  width: 50vw;
  margin-top: 3rem;
  height: 2.5rem; 
}

/* form {
  display: flex;
  
} */
button {
  position: relative; 
  height: 3rem;
  margin-top: 3rem;
}

.description-gallery {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  flex-wrap: wrap; 
}

.description-gallery-images { 
  height: 50%;
  width:40%;
  margin:1rem;
  border-radius: 3px;
}
