* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background-color: 	#f5f5f5	;
  
}
h2{
  font-size: 3rem;
  font-family: 'Abril Fatface', cursive;
  font-weight: lighter;
  color: #333;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h3{
  font-size: 1.3rem;
  color: #333;
  padding: 1.5rem 0rem;
}
a{
  text-decoration: none;
  color: #333;
}
img{
  display: block;
}
